[project]
	description = An example go app with a structure that reflects the Clean Architecture as proposed by Uncle Bob.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Armin Weißer (aweisser)
[access "refs/for/refs/*"]
	read = group user/Armin Weißer (aweisser)
	push = group user/Armin Weißer (aweisser)
	label-Code-Review = -2..+2 group user/Armin Weißer (aweisser)
	label-Verified = -1..+1 group user/Armin Weißer (aweisser)
	rebase = group user/Armin Weißer (aweisser)
	removeReviewer = group user/Armin Weißer (aweisser)
	submit = group user/Armin Weißer (aweisser)
[access "refs/heads/*"]
	read = group user/Armin Weißer (aweisser)
	create = group user/Armin Weißer (aweisser)
	push = +force group user/Armin Weißer (aweisser)
	pushMerge = group user/Armin Weißer (aweisser)
[access "refs/tags/*"]
	push = group user/Armin Weißer (aweisser)
	push = +force group user/Armin Weißer (aweisser)
